
*.dll
*.exe
*.xml
*.config
*.config
ShopWebMVC/.vs/ShopWebMVC/v14/.suo
*.targets
*.dbml
ShopWebMVC/ShopWebMVC/Models/ShopOnlineDB.dbml.layout
ShopWebMVC/.vs/config/applicationhost.config
ShopWebMVC/.vs/ShopWebMVC/v14/.suo
ShopWebMVC/ShopWebMVC/bin/ShopWebMVC.pdb
ShopWebMVC/ShopWebMVC/Models/ShopOnlineDB.designer.cs
ShopWebMVC/ShopWebMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShopWebMVC/ShopWebMVC/obj/Debug/ShopWebMVC.csproj.FileListAbsolute.txt
ShopWebMVC/ShopWebMVC/obj/Debug/ShopWebMVC.csprojResolveAssemblyReference.cache
ShopWebMVC/ShopWebMVC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ShopWebMVC/ShopWebMVC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ShopWebMVC/ShopWebMVC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ShopWebMVC/ShopWebMVC/obj/Debug/ShopWebMVC.pdb
ShopWebMVC/ShopWebMVC/obj/Debug/ShopWebMVC.pdb
*.sql
*.config
shopdb.sql
ShopWebMVC/.vs/config/applicationhost.config
