body{
    font-family: Roboto;
    font-size: 13px !important;
}

.card-properties{
    height: 250px;
    margin-bottom: 2em;
}

.card-properties .card-body{
    overflow-y: scroll;
}

.card-body{
    padding: 0px;
}

#orderDetail .modal-dialog{
    max-width: 90%;
}

.date-picker .date, .form-input span, .combobox-container, .form-input textarea, .text-box{
    max-width: 50%;
    margin: 0px;
    display: inline-flex;
    margin-left: 3px;
    font-size: 13px;
}

.text-box{
    max-width: 70%;
    width: 70%;
    margin-bottom: 10px;
}

.form-input textarea{
    display: inherit;
    max-width: 65%;
}

.date-picker label, .form-input label{
    max-width: 30%;
    margin: 0px;
    word-wrap:break-word;
}

.form-input{
    width: 100%;
    margin-bottom: 3px;
}

.title{
    font-size: 13px;
    width: 70%;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 0.7em;
    margin-bottom: 0.7em;
    text-transform: uppercase;
}

.display-flex{
    display: flex;
}

.modal-body .display-flex{
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 5px;
}

a .fa{
    font-size: 20px;
}

textarea{
    width: 100%;
}

.dropdown-toggle{
    display: none !important;
}

.form-input input{
    border-radius: 3px;
    border: 0.5px solid darkgray;
    box-shadow: none;
    padding: 3px;
}

.form-control{
    font-size: 13px;
    padding: 3px;
    max-width: 100%;
    min-width: 0px;
}

button{
    font-size: 13px !important;
    font-family: Roboto !important;
}