.breadcrumbCategory.breadcrumb {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.breadcrumbCategory.breadcrumb ol.breadcrumb {
  background-color: transparent;
}

.breadcrumbCategory.breadcrumb h2 {
  line-height: 1;
  font-size: 28px;
  color: #fff;
  margin-bottom: 18px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.breadcrumbCategory .breadcrumb li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
}

li.titleCategoryTopMenu a {
  display: flex;
  margin-bottom: 15px;
  padding: 0 17px;
  line-height: 50px;
  background: #aa6949;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  align-items: center;
}

li.titleCategoryTopMenu a i {
  margin-right: 15px;
}

ul.categorySubMenu {
  margin: 0;
  padding: 0 20px 0 13px;
  border: 1px solid #ebebeb;
}

.categorySubMenu a.itemCategorySubMenu {
  font-size: 15px;
  color: #666;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  display: block;
  padding: 13px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
}
#search_filters .facet:last-child {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
#search_filters .facet {
  border: 1px solid #ebebeb;
  margin: 0;
  padding: 18px 20px 0 13px;
  width: 100%;
  border-bottom: none;
  border-top: none;
}

h1.h6.facet-title.hidden-sm-down {
  color: #666;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 0;
}

h4.text-uppercase.h6 {
  display: flex;
  margin-bottom: 15px;
  padding: 0 17px;
  line-height: 50px;
  background: #aa6949;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  align-items: center;
}

h4.text-uppercase.h6 i.fa {
  margin-right: 15px;
}

#search_filters .facet .facet-label a {
  color: #666;
  font-size: 14px;
  line-height: 18px;
  margin-top: 12px;
  display: inline-block;
}
.products-selection {
  margin-bottom: 30px;
  /* padding: 3px; */
  background: #f5f5f5;
  display: flex;
  line-height: 50px;
  align-items: center;
}
.click-product-list-grid {
  display: flex;
  /* flex: 1; */
}
.click-product-grid , .click-product-list {
  /* margin-right: 15px; */
  font-size: 24px;
  padding: 0 8px;
  /*margin: 5px 0;*/
  cursor: pointer;
}
.total-products{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.total-products p {
  margin-bottom: 0;
}
button#dropdownMenu2{
  line-height: 18px;
  border: 1px solid #ebebeb;
  padding: 7px 12px;
  margin: 0;
  background: none;
  outline: none;
}
.sortContainer .dropdown-menu.show{
  width: 200px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-top: 5px;
  padding: 0;
}
.sortContainer a.dropdown-item{
  display: block;
  color: #414141;
  padding: .625rem 1.25rem;
}