* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #666;
  line-height: 18px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000000;
}

ul {
  list-style: none;
}

main {
  background: #fff;
  /*overflow: hidden;*/
  width: 100%;
}

header .header-nav {
  background: #f5f5f5;
  border: 0 !important;
  height: 40px;
  margin: 0;
  max-height: none;
  display: flex;
}

header .header-nav .container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

header .header-nav .leftHeaderNav {
  display: flex;
  /*flex: 1;*/
  align-items: center;
  justify-content: center;
}

.middleHeaderNav {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.rightHeaderNav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.myAccount {
  font-size: 13px;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-transform: capitalize;
  padding-right: 20px;
  display: inline-block;
}

.accountList {
  position: absolute;
  display: none;
  visibility: hidden;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*padding: 5px 0;*/
  margin: 2px 0 0;
  font-size: 1rem;
  color: #878787;
  text-align: left;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0;
  background: #222223;
  min-width: 120px;
  transition: all 0.4s ease-in-out 0s;
}

.myAccount .accountList.activeAccountList {
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition: all 0.4s ease-in-out 0s;

}

.textAccount {
  cursor: pointer;
}

a.itemAccount {
  padding: 0 15px;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
}

a.itemAccount:hover {
  background: #aa6949;
}

.cartContainer {
  padding: 0 5px;
}

.login {
  padding: 0 10px;
}

nav.header-top {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.leftHeaderTop {
  display: flex;
  flex: 1;
  align-items: center;
}

.rightHeaderTop {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: center;
}

.rightHeaderTop .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
}

input.form-control.searchInput {
  border: 2px solid #ebebeb;
  height: 44px;
  margin: 30px 0;
  color: #999;
  font-size: 14px;
  max-width: 468px;
  width: 550px;
  padding: 0 20px;
  outline: none;
  padding-right: 55px;
  position: relative;
  transition: all 0s ease-in-out 0s;
  -moz-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  -webkit-transition: all 0s ease-in-out 0s;
}

input.form-control.searchInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(213, 216, 220, 0.25);
}

input#submitSearch {
  line-height: 38px;
  padding: 0 17px;
  font-size: 14px;
  position: absolute;
  border: none;
  background: #e23e57;
  transition: all 0s ease-in-out 0s;
  -moz-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  -webkit-transition: all 0s ease-in-out 0s;
  right: 3px;
  top: 33px;
}

div#headerMenu {
  background: #aa6949;
  position: relative;
  width: 100%;
  z-index: 1;
  /*margin-bottom: 30px;*/
}

.leftCategoryMenu {
  height: 100%;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  background: #444444;
  color: #fff;
  padding: 0 15px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;

}

.leftCategoryMenu .iconCategory {
  margin-right: 15px;
}

ul.listMenu {
  display: flex;
  flex: 1;
  margin-bottom: 0;
  justify-content: space-between;
}

ul.listMenu li.menuHeaderItem {
  line-height: 50px;
  height: 50px;
}

li.menuHeaderItem a {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

li.menuHeaderItem a i.fa {
  margin-left: 10px;
}

li.itemSubMenuList a {
  line-height: 1;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  color: #666
}

li.menuHeaderItem:hover .containerSubMenu {
  transform: scaleY(1);
}

.menuHeaderItem .containerSubMenu {
  display: block;
  transform: scaleY(0);
  transform-origin: 100% 0;
  transition: transform 0.5s ease;
  position: absolute;
  min-width: 400px;
  left: 0;
  top: 100%;
  background: #ffffff;
  color: #000;
  border: none;
  padding: 28px 15px 15px;
  z-index: 8000;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35) inset;
}

li.menuHeaderItem.hasChildren {
  position: relative;
}

.leftMenuContainer > ul {
  position: relative;
  width: 100%;
  list-style: none;
  background: #fff;
  border: 1px solid #ebebeb;
  border-top: none;
  margin-bottom: 0;
}

.leftMenuContainer > ul > li {
  position: relative;
}

li.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  border-bottom: 1px solid #ebebeb;
  line-height: 45px;
  color: #262626;
  text-align: left;
  cursor: pointer;
}

li.menuItem.hasChildren > .containerSubMenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 400px;
  border-left: 2px solid #aa6949;
  padding: 25px 30px;
  background: #fff;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35) inset;
  z-index: 100;
  display: none;
  visibility: hidden;
}

li.menuItem.hasChildren:hover > .containerSubMenu {
  display: block;
  visibility: visible;
}

.containerSubMenu .topSubMenu {
  display: flex;
  flex: 1;
}

.containerSubMenu .topSubMenu .subChildMenuList {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerSubMenu .topSubMenu .titleSubMenu {
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  padding-bottom: 18px;
  color: #262626;
}

.slideContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.wrapperContainer {
  margin: 25px 0;
}

.titleHeaderCol {
  display: block;
  border-bottom: 3px solid #aa6949;
}

span.titleHeaderColText {
  font-size: 18px;
  display: inline-block;
  margin: 0;
  color: #fff;
  background: #aa6949;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.hotDeal {
  border: 1px solid #ebebeb;
  padding: 15px 0;
  display: flex;
}

.topRate {
  border: 1px solid #ebebeb;
  padding: 15px;
}

a.titleProduct {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 16px;
  transition: all 0.15s ease-in-out 0s;
  font-family: 'Oswald', sans-serif;
}

span.salePrice {
  font-size: 20px;
  font-weight: 600;
  color: #aa6949;
}

span.regularPrice {
  color: #999;
  margin-left: 5px;
  font-size: 14px;
  text-decoration: line-through;
}

p.descriptionProduct {
  margin: 0;
  font-size: 14px;
  text-align: justify;
  line-height: 24px;
  color: #666;
}

p.productPrice {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 9px;
}

.topRate div#carouselExampleControls {
  position: relative;
  display: flex;
  flex: 1;
}

div.button-action {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.6;
  transition: 0.4s;
}

button.add-to-cart {
  border: 0;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

a.quick-view {
  color: #fff;
  background: transparent;
  padding: 5px 10px;
}

.sloganContainer a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  height: 100%;
  background: rgba(255, 255, 255, .2);
  content: '';
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  -ms-transition: -ms-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
}

.sloganContainer a:hover:before {
  opacity: 1;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
}

.sloganContainer a {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.listCategoryMenu .itemCategoryMenu {
  font-size: 17px;
  color: #262626;
  border: 1px solid #ebebeb;
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  margin: 0;
  width: 100%;
  padding: 34px 0;
  border-bottom: none;
  height: 100px;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 10;
  background: #fff;
}

.listCategoryMenu .itemCategoryMenu:last-child {
  font-size: 17px;
  color: #262626;
  border: 1px solid #ebebeb;
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  margin: 0;
  width: 100%;
  padding: 34px 0;
  height: 100px;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 10;
  background: #fff;
}

.listCategoryMenu .itemCategoryMenu:after {
  display: none;
  visibility: hidden;
  content: '';
  border: 5px solid #aa6949;
  position: absolute;
  right: -2px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
  z-index: 0;
}

.listCategoryMenu .itemCategoryMenu:before {
  display: none;
  visibility: hidden;
  content: '';
  border: 7px solid #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-45%);
  z-index: 1;
}

.listCategoryMenu .itemCategoryMenu:hover:before, .listCategoryMenu .itemCategoryMenu:hover {
  display: block;
  visibility: visible;
  color: #aa6949;
}

.listCategoryMenu .itemCategoryMenu:hover:after {
  display: block;
  visibility: visible;
  color: #aa6949;

}

.listCategoryMenu .itemCategoryMenu i.fa {
  font-size: 30px;
  color: #aa6949;
  margin-right: 20px;
  vertical-align: middle;
}

.itemProduct {
  position: relative;
  margin-bottom: 30px;

}

.itemProduct .topItemProduct {
  display: block;
  position: relative;
  background: transparent;
  overflow: hidden;
}

.itemProduct .bottomItemProduct a.titleProduct {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 1;
}

.hover-banner a {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.hover-banner a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  height: 100%;
  background: rgba(255, 255, 255, .2);
  content: '';
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  -ms-transition: -ms-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -190%, 0);
}

.hover-banner a:hover:before {
  opacity: 1;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 190%, 0);
}

.newArrivals.row {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.newArrivals.row .headerCol {
  position: relative;
}

.listArrivals {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  left: 0;
  justify-content: center;
}

.listArrivals .itemArrival {
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  line-height: 14px;
  margin: 12px 0;
  border-right: 1px solid #ebebeb;
  padding-right: 13px;
  margin-right: 17px;
  transition: 0.4s;
}

.listArrivals .itemArrival i {
  margin-right: 10px;
}

.listArrivals .itemArrival:hover {
  color: #aa6949;
}

.bottomContainer {
  background: #444;
  padding: 30px 0;
}

.boxContent {
  border: 1px solid #575757;
  padding: 30px;
  display: flex;
  align-items: center;
}

.boxContent > :before {
  font-size: 36px;
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.contentText h3 {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  color: #fff;
}

.contentText {
  padding-left: 34px;
}

.contentText p {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1;
}

.contentText h3 a {
  color: #fff;
  text-decoration: none;
}

.boxContent:hover {
  border-color: #aa6949;
}

.boxContent:hover .contentText p, .contentText h3, .boxContent .fa {
  color: #aa6949;
}

.boxContent:hover > :before {
  transform: rotateY(-360deg);
  -moz-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  -o-transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  color: #aa6949;
}

.boxContent:hover .contentText h3 a {
  color: #aa6949;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #444;
}

/*Start ------------------Footer*/
footer {
  background-color: #2e3033;
  background-image: url(http://ninzio.com/lacuisine/wp-content/uploads/footer_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

footer .topFooter {
  /*padding: 15px 0;*/
  background: #2e3033;
  text-transform: uppercase;
}

footer .topFooter a {
  transition: 0.4s;
  text-decoration: none;
}

footer .topFooter a:hover {
  color: #f5c328;
}

footer .topFooter a span i {
  margin-right: 5px;
  color: #f5c328;
  font-weight: bold;
  font-size: 18px;
}

.containerCol {
  padding: 15px;
  border-left: 1px solid #434548;
  border-right: 1px solid #434548;
  display: inline-block;
}

.arrow {
  padding: 15px 20px;
}

footer .middleFooter {
  padding: 20px 0;
  border-bottom: 1px solid #434548;
}

.middleFooter .titleColFooter {
  display: inline-block;
  margin: 10px 0;
  position: relative;
}

.middleFooter .emailInput {
  display: flex;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  flex-wrap: wrap;
  margin: 20px 0;
}

.middleFooter .titleColFooter {
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

.middleFooter .titleColFooter:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 10px;
  width: 70px;
  height: 1px;
  background-color: #f5c328;
}

.middleFooter .titleColFooter:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #f5c328;

}

.middleFooter ul.list-unstyled.listLink li {
  padding: 5px 0;
  transition: 0.4s;
  cursor: pointer;
}

.middleFooter ul.list-unstyled.listLink li:hover a {
  color: #f5c328 !important;
}

.middleFooter ul.list-unstyled.listLink li a {
  position: relative;
  padding: 0;
  line-height: 24px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  outline: none;
  font-size: 16px;
  text-decoration: none;
  font-family: Roboto, sans-serif
}

.middleFooter .emailInput {
  display: flex;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  flex-wrap: wrap;
  margin: 20px 0;
}

.middleFooter input.email {
  display: flex;
  padding: 10px;
  flex: 1;
  background-color: transparent;
  color: #bbbcbd;
  border: 0;
  outline: 0;
  text-align: left;
  height: 40px;
  max-width: 100%;
  width: 100%;
  line-height: 40px;
}

.middleFooter .emailInput span {
  padding: 0;
  margin-right: 2px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  z-index: 15;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
  background: #f5c328bf;
}

.middleFooter .emailInput span:hover {

  background: #f5c328;
}

footer .socials ul.list-unstyled {
  display: flex;
  align-items: center;
  margin: 0;
}

footer .socials ul.list-unstyled li {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

footer .socials ul.list-unstyled li:hover {
  background-color: #fff;
}

footer .socials ul.list-unstyled li:hover > a {
  color: #f5c328;
}

footer .socials ul.list-unstyled li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  font-weight: bold;
  flex: 1;
}

footer .bottomFooter {
  padding: 10px 0;
}

footer .bottomFooter p {
  margin-bottom: 10px;
}

